<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{.Title}} - {{.Site.Title}}</title>
	</head>
	<body>
		<ul>
			<li><strong>Pages</strong></li>
			{{range .Pages}}
				{{if ne .Title "Home"}}
					<li><a href="{{.URL}}">{{.Title}}</a></li>
				{{end}}
			{{end}}
		</ul>
		<ul>
			{{range .Posts}}
				<li>
					<a href="{{.URL}}">{{.Title}}</a>
					<p>{{.Description}}</p>
				</li>
			{{end}}
		</ul>
	</body>
</html>
