<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>{{.Title}} - {{.Site.Title}}</title>
	</head>
	<body>
		<ul>
			{{range .Pages}}
				<li><a href="{{.URL}}">{{.Title}}</a></li>
			{{end}}
		</u>
		<h1>{{.Title}}</h1>
		{{.Content}}
	</body>
</html>
